.container {
    max-width: 1200px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.contact-button {
    background-color: #00cc66;
    color: #fff;
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.left-section {
    text-align: left;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-name {
    font-family: Impact;
    font-size: 6em;
    font-weight: normal;
    margin-bottom: 1px;
}

.motto {
    font-size: 2em;
    margin-bottom: 20px;
}

#contact-info {
    display: none;
}

.circle-image1,
.circle-image2 {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.circle-image1 {
    width: 300px;
    height: 300px;
}

.circle-image2 {
    width: 200px;
    height: 200px;
}